ACTION=="add", KERNEL=="sd*1", SUBSYSTEMS=="usb", SUBSYSTEM=="block", ATTRS{idVendor}=="054c", ATTRS{idProduct}=="0882", RUN+="/home/pi/python-stuff/auto-podcast-update/mount_mp3.sh"
